@page
@model ReportsModel
@{
    ViewData["Title"] = "Home page";
}

<script type="module" src="~/dist/reports.entry.js"></script>

<div class="text-center">
	<h1 class="display-4">Reports</h1>

	<table id="reports-table" class="table">
		<thead>
			<tr>
				<th>IP Address</th>
				<th>Last Updated</th>
				<th>Location</th>
				<th>Report</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>
